{% extends 'base.html' %}

{% block body %}
</div>

<div class="container">


  <h1 class="pt-2 px-3" > <i class="bi bi-person-fill"></i> {{user.name}}</h1>
  <br>

  <div class="container-fluid">
    <div class="row d-flex flex-wrap">
      <!--Date representation-->
      <div class="col-md-7">
        <div class="chart-container" style=" width:50vw">
          <div class="container"><h1>Cycle Length</h1>
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
     <div class='col-md-4 m-5'>
        <div class="row">
            <!--Upcoming date-->
            <div class='col-md-12 udate'>
              <div class="p-5">  
                <h2>Next period  {{user.pdate}}</h2>
              </div>
            </div>
            <br>
            <br>
            <!--Updating period date-->
            <div class='col-md-12'>
              <div>
                <form action="{{ url_for('update') }}" method="post">
                  <div class="form-group mb-3">
                    <label for="datelist">Got your periods?</label>
                    <input type="date" class="form-control" id="date" name="date" required="required" placeholder="Enter the date">
                  </div>
                  <button type="submit" class="btn btn-warning me-3">Submit</button>
                </form>
            </div>
           </div>
        </div>
     </div>
   </div>
 </div>


 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script>
   const ctx = document.getElementById('myChart');

   new Chart(ctx, {
     type: 'bar',
     data: {
       labels: {{ datelist|tojson }},
       datasets: [{
         label: 'Cycle Length',
         data:  {{ nodays|tojson }},
         borderWidth: 1
       }]
     },
     options: {
       scales: {
         y: {
           beginAtZero: true
         }
       }
     }
   });
 </script>
<br><br><br><br><br><br><br>
</div>
{% endblock body %}
