{% extends 'base.html' %}

{% block body %}

  <!--Part 1-->


  <div   class="intro d-flex justify-content-left mt-20">
    <div data-aos="zoom-in-up" data-aos-duration="1500" class="textinto">
    <div class="rre">
      No need to keep the count<br>
      get notified by <span class="mm">n</span>otify
      </div>
      <br>
      <div class="err">
       get personalised alerts.
       <br><br>
       <a class="btn btn1 btn-warning me-3 btn-lg" href={{ url_for('register')}}>Join us Now</a>
      </div>
    </div>
      <img  data-aos="zoom-out-up" data-aos-duration="1500" class="imgmain"  style="height: 500px;">
   </div>

   <!--Part 2-->
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff"  d="M0,96L60,122.7C120,149,240,203,360,197.3C480,192,600,128,720,122.7C840,117,960,171,1080,181.3C1200,192,1320,160,1380,144L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
  </div>
  <div class="heading" data-aos="zoom-out-up" data-aos-duration="1500">
    <h1>Follow these steps for Whatsapp alerts.</h1>
   </div>

  <div class="container">
    <div class="d-flex justify-content-around">
      <div class="card" style="width: 18rem;">
        <img height=400px src={{ url_for('static', filename="images/wa.link_nffpo9.png") }} alt="">
        <div class="card-body">
          <p class="card-text text-center">Step 1: <br>Sacn the QR code</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img height=500px src={{ url_for('static', filename="images/img2.jpg") }} alt="">
        <div class="card-body">
          <p class="card-text text-center">Step 2: <br>Open Whatsapp</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img height=500px src={{ url_for('static', filename="images/img3.jpg") }} alt="">
        <div class="card-body">
          <p class="card-text text-center">Step 3: <br>Send the message</p>
        </div>
      </div>
    </div>
  </div>
   <!--Part 3-->

   <div class="container">
    <div class="row row-cols-2">
      <div class="col pt-5"><h2> Taking rest can mean different things to different women. For some, it may mean reducing physical activity and getting more restful sleep. For others, it may mean taking time off work or social engagements to allow their bodies to relax and recover.
        </h2>
      </div>
      <div class="col text-center">
        <img height=400px src={{ url_for('static', filename="images/people_gadgets_02.jpg") }} alt="">
      </div>
      <div class="col text-center">
        <img height=400px src={{ url_for('static', filename="images/4365525.png") }} alt="">
      </div>
      <div class="col pt-5  text-right"><h2> Track your cycle, Get perdictions! Easily track your period, view future cycles and understand your fertile days. Feel more prepared and aware of your body signals with personalized insights.</h2></div>
      <div class="col pt-5"><h2> Know your body. Own your health.
        Understand your body alongside your cycle with Notify .If you want to know more about your body and how your cycle can affect everything from your mood to your energy levels, tracking your periods and ovulation is a great place to start.
      </h2></div>
      <div class="col text-center">
        <img height=400px src={{ url_for('static', filename="images/5796792.jpg") }} alt="">
      </div>
    </div>
{% endblock body %}


     